body {
    color: #333;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

body {
    -webkit-font-smoothing: antialiased;
}
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}
body {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}
*, *::before, *::after {
    word-break: break-all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}
html {
    -webkit-text-size-adjust: 100%;
}
.Header {
    width: 100%;
}

@media screen and (max-width: 1080px) {
    .Header--common {
        position: fixed !important;
    }
}
.Header--common {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 767px) {
    .Header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 1080px) {
    .Header {
        background-color: #fff;
        z-index: 10;
    }
}
.Header {
    background-color: #fff;
    display: grid;
    height: 70px;
}
@media screen and (max-width: 767px) {
    .Header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 36px 0 36px;
    max-width: 100%;
    position: relative;
}
@media screen and (max-width: 767px) {
    .HeaderContainer {
        max-width: 100%;
        margin: 0 16px;
    }
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media screen and (max-width: 767px) {
    .HeaderContainer {
        max-width: 100%;
        margin: 0 16px;
    }
}
div {
    unicode-bidi: isolate;
}
.HeaderLogo {
    align-self: center;
}
@media screen and (min-width: 768px) {
    .HeaderLogo {
        transition: opacity 0.2s;
    }
}
a {
    color: #333;
    text-decoration: none;
}
a:-webkit-any-link {
    cursor: pointer;
}
img.lazy {
    min-height: 1px;
}
.HeaderLogo__image--pc {
    display: block;
    height: 20px;
    width: auto;
}
@media screen and (max-width: 767px) {
    .HeaderLogo__image--pc {
        display: none !important;
    }
}
img {
    border: 0;
    vertical-align: middle;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.HeaderLogo__image--sp {
    display: none;
    height: 16px;
    width: auto;
}
@media screen and (max-width: 767px) {
    .HeaderLogo__image--sp {
        display: block !important;
    }
}
.HeaderContainer>*:last-child {
    display: inline-flex;
}
nav {
    unicode-bidi: isolate;
}
.HeaderNavHamburger {
    display: none;
}
@media screen and (max-width: 1080px) {
    .HeaderNavHamburger {
        cursor: pointer;
        display: block;
        position: relative;
        width: 24px;
        height: 17px;
        margin: auto;
        z-index: 100;
    }
}
div {
    unicode-bidi: isolate;
}
@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line:first-child {
        top: 0;
    }
}
@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line {
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #A2A2A4;
        transform: translate(0, -50%);
        border-radius: 10px;
        transition: top 0.2s, transform 0.2s, opacity 0.3s;
    }
}
@media screen and (max-width: 1080px) {
    .HeaderNavHamburger__line:last-child {
        top: 100%;
    }
}
.HeaderNavList {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
}
ul {
    box-sizing: border-box;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
@media screen and (max-width: 1080px) {
    .HeaderNavList {
        overflow-y: scroll;
        position: fixed;
        top: 60px;
        left: 100%;
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-bottom: 75px;
        transition: transform 0.5s;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
    }
}
  @media screen and (max-width: 767px) {
    .HeaderNavList {
        top: 70px;
    }
}
  @media screen and (min-width: 768px) {
    .HeaderNavListItem {
        transition: opacity 0.2s;
    }
}
.HeaderNavListItem {
    margin-right: 45px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
@media screen and (max-width: 1080px) {
    .HeaderNavListItem {
        margin-right: 0;
    }
}
.HeaderNavListItem__link {
    display: block;
}
@media screen and (max-width: 1080px) {
    .HeaderNavListItem__link {
        padding: 20px 0;
    }
}
.HeaderNavListItem__link {
    display: block;
}
.HeaderNavListItem__link>span:first-child {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 14.4px;
}
.HeaderNavListItem__link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}
@media screen and (max-width: 1080px) {
    .HeaderNavListItem__link>span:first-child {
        font-size: 16px;
        letter-spacing: 5px;
        color: #fff;
    }
}
.HeaderNavListItem__link>span:last-child {
    font-size: 10px;
}
.HeaderNavListItem__link>span {
    display: block;
    font-weight: 700;
    text-align: center;
}
@media screen and (max-width: 1080px) {
    .HeaderNavListItem__link>span:last-child {
        font-size: 12px;
        margin-top: 10px;
        color: #F79214;
        letter-spacing: 2px;
    }
}
.HeaderNavListItem:last-of-type {
    margin-right: 0;
}
@media screen and (max-width: 1080px) {
    .HeaderNavListItem:last-of-type {
        margin-top: 20px;
    }
}
@media screen and (min-width: 768px) {
    .HeaderNavListItem__button {
        transition: opacity 0.2s;
    }
}
.HeaderNavListItem__button {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
}
@media screen and (max-width: 1080px) {
    .HeaderNavListItem__button {
        font-size: 16px;
        margin: 0 auto;
        height: 60px;
        width: 250px;
    }
}
img.lazy {
    min-height: 1px;
}
.FirstView__bg-image--left-rectangle {
    top: -70px;
    left: 0;
}

.FirstView__bg-image {
    position: absolute;
    z-index: -1;
}
img {
    border: 0;
    vertical-align: middle;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
@media screen and (max-width: 767px) {
    .FirstView__bg-image {
        display: none;
    }
}
.FirstView__bg-image--right-rectangle {
    right: 0;
    bottom: 70px;
}
.FirstView__bg-image--fill-rectangle {
    top: 84px;
    left: -70px;
}
.FirstView__bg-image--main-visual {
    top: -70px;
    right: 0;
    width: 775px;
}
.FirstView__whole-image {
    display: none;
}
@media screen and (max-width: 767px) {
    .FirstView__whole-image{
        display: block;
        margin-bottom: 7px;
        width: 100%;
    }
}
.FirstView__container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 219px;
}
@media screen and (max-width: 1080px) {
    .FirstView__container {
        max-width: none;
        padding-left: 36px;
        padding-right: 36px;
    }
}
@media screen and (max-width: 767px) {
    .FirstView__container {
        padding-top: 0;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 767px) {
    .FirstView__container {
        max-width: none;
        padding-left: 16px;
        padding-right: 16px;
    }
}
.FirstViewContent {
    position: relative;
    width: fit-content;
}
.FirstViewContent__title {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 63px;
    margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
    .FirstViewContent__title {
        font-size: 22px;
        line-height: 36px;
        position: relative;
        width: fit-content;
    }
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.FirstViewContent__badge-image {
    position: absolute;
    top: -105px;
    right: -150px;
}
@media screen and (max-width: 767px) {
    .FirstViewContent__badge-image{
        height: 102px;
        width: 102px;
        top: -20px;
        right: -110px;
    }
}
@media screen and (min-width: 768px) {
    .FirstViewContent__button {
        transition: opacity 0.2s;
    }
}
@media screen and (max-width: 767px) {
    .FirstViewContent__button {
        width: 100% !important;
    }
}
.FirstViewContent__button {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}
.FirstViewContent__caption {
    font-size: 12px;
    line-height: 16px;
}
p{
    color: #333;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}